@{
    ViewData["Title"] = "Trang tổng quan CSKH";
    Layout = "~/Views/Shared/_CSKHLayout.cshtml";
}

<h5>🎯 Tổng hợp phản hồi mới nhất</h5>
<ul>
    <li>5 phản hồi mới chưa xử lý</li>
    <li>2 khiếu nại đang được xem xét</li>
    <li>12 phản hồi đã hoàn tất</li>
</ul>
