@using KLTN2025.DTOs
@model CapNhapTKDTO

@{
    ViewData["title"] = "Cập nhập tài khoản -";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow border-0 p-4">
                <form asp-action="CapNhapTaiKhoan" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="NguoiDungId" value=@Model.NguoiDungId />
                    <div class="mb-3">
                        <label class="form-label fw-semibold" for="HoTen">Họ và tên</label>
                        <input type="text" id="HoTen" asp-for="HoTen" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-semibold" for="Email">Email</label>
                        <input type="text" id="Email" asp-for="Email" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="GioiTinh" id="Nam" value="Nam"
                                @(Model.GioiTinh == "Nam" ? "checked" : "")>
                            <label class="form-check-label" for="Nam">
                                Nam
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="GioiTinh" id="Nu" value="Nữ"
                                @(Model.GioiTinh == "Nữ" ? "checked" : "")>
                            <label class="form-check-label" for="Nu">
                                Nữ
                            </label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-semibold" for="sdt">Số điện thoại</label>
                        <input type="text" id="sdt" asp-for="SDT" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-lable fw-semibold">Mật khẩu</label>
                        <div class="d-inline-block w-100 text-center">
                            <button class="btn btn-outline-warning btn-sm">Đổi mật khẩu</button>
                        </div>
                    </div>
                    <div class="text-center mb-3">
                        <button type="submit" class="btn btn-primary">Cập nhập hồ sơ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>